html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Text Customization */
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}
.text-vertical-center h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: 700;
}
.text-center {/*
    display: content-block;*/
    display: table-cell;
    text-align: center;
}
.text-contact {
    font-family: sans-serif;
    font-weight: 600;
    line-height: 2;
}
/* End of Text Customization */


/* Side Menu */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.15);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    overflow: hidden;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #444;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #444;
    background: none;
}

#menu-toggle {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.toggle {
    opacity: 1.0;
    margin: 5px 5px 0 0;
}
nav ul li a {
    font-family: 'Comfortaa';
}
.active {
    background: rgba(0, 0, 0, 0.1);
    transform: translateY(0.35em);
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
/* End of Side Menu */


/* Custom Body */
.header {
    background: url(../img/bck.jpg) no-repeat center center scroll;
    /*background: url(img/bg.jpg) no-repeat center center scroll;*/
}
.header .text-vertical-center h3 {
    font-family: 'Space Mono', sans-serif;
}
.header, .about, .team, .portfolio, .contact {
    padding: 50px 0;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.about {
    display: block;
    background: url(../img/header.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    /*background: #F5FBF8;*/
    height: auto;
}
.about .container-fluid .row #abt-text #text {
    text-decoration: none;
    text-align: justify;
}
.about .container-fluid #accordion .uk-accordion {
    padding: 5px;
    border-radius: 5px;/*
    border: 2.5px solid #DCF7D1;*/
}
.about .container-fluid #accordion .uk-accordion .uk-accordion-title {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    background-color: rgba(135, 206, 250, 0.701961); /*#DCF7D1*/;
    text-decoration: none;/*
    background: rgba(235, 235, 235, 0.6);
*/    border-radius: 3px;
    padding: 0.3vw;
}
.about .container-fluid #accordion .uk-accordion .uk-accordion-title:hover {
    text-decoration: none;
    cursor: pointer;
}
.about .container-fluid #accordion .uk-accordion .uk-accordion-content {
    display: block;
    text-decoration: none;
    text-align: justify;
    padding: 0 5px;
    color: #000;
    font-family: "Mirza" sans-serif;
    font-weight: 400;
}
.about .container-fluid #accordion .uk-accordion .uk-accordion-content ul li {
    list-style: none;
    font-family: "Ubuntu", cursive;
    font-weight: 400;
}
.about .container-fluid #abt-text hr {
    margin: 15px 0px;
    max-width: 768px;
}
.team {
    background: transparent;
    background: -webkit-linear-gradient(rgba(0,0,0,0.0), rgba(255, 182, 193, 0.75));
    background: -moz-linear-gradient(rgba(0,0,0,0.0), rgba(255, 182, 193, 0.75));
    background: -o-linear-gradient(rgba(0,0,0,0.0), rgba(255, 182, 193, 0.75));
    background: linear-gradient(rgba(0,0,0,0.0), rgba(255, 182, 193, 0.75));
/*
    background: #9ADCD9;*/
}
.portfolio {/*
    background: #DCF7D1;*/
    background: url(../img/back.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.contact {
    background: #82C1DB;
    height: auto;
}
/* End of Custom Body */


/* Custom Buttons */
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #000;
    background-color: rgba(255, 255, 255, 0.25);
}

.btn-light {
    border-radius: 0;
    color: #000;
    background-color: #92deec/*rgba(0 ,0 , 0, 0.25)*/;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(165, 165, 165, 0.8);
}
/* End of Custom Buttons */

/* Custom Contact Section */
.contact-glyph {
    margin-top: 0;
    font-family: "Pacifico", sans-serif;
}
.contact .container .container-fluid .row .text-center p {
    font-family: "Comfortaa", sans-serif;
}
.contact .container h5 {
    font-family: 'Fondamento', sans-serif;
    font-weight: 400;
    text-align: center;
}
#contact-head {
    margin-top: 32px;
    margin-bottom: 40px;
}
#email {
    margin-top: 50px;
    display: block;
    background: #d9ecf5;
    text-align: center;
    color: black;
    /*width: 100%;
    height: 60px;*/
}
#email input[type="email"] {
    text-align: center;
    color: black;
    font-family: 'Comfortaa', sans-serif;
    border: none;
    background: transparent;
    background: #82C1DB;
}
#email input[type="email"]:hover {
    transition: 1.5s;
    -o-transition: 1.5s;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;
    background: #ddffcc;
}
#email input[type="email"]:focus {
    transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    background: #ffd3ff;
}
/* Media Queries */
@media (max-width: 424px) {
    .text-vertical-center h1 {
        font-size: 3em;
    }
    .text-vertical-center h2 {
        font-size: 1em;
    }
    .text-vertical-center h3 {
        font-size: 1em;
    }
}
@media (max-width: 1199px) {
    .about .container-fluid #abt-text h2{
        text-align: center;
    }

    #contact-head {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media (min-width: 1660px) {
    .text-vertical-center h1 {
        font-size: 7em;
    }.text-vertical-center h2 {
        font-size: 4em;
    }
    .text-vertical-center h3 {
        font-size: 4em;
    }
    
}
